:root{
    --color-background: darkslategray;
    --color-secondary-background: #008900;
    --color-text: #ffffff;
    --color-card-background: #8b0000;
}
body{
    margin: 0px;
    padding: 9px;
    background-color: var(--color-background);
}
header{
    background-color: var(--color-secondary-background);
    padding: 5px;
    margin-bottom: 10px;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
}
header hr{
    border: 1px solid var(--color-background);
    margin-top: 10px;
}
.page-title{
    color: var(--color-text);
    text-align: center;
}
.nav-link{
    flex: 1 50px;
    max-width: 250px;
    color: var(--color-text);
    background-color: var(--color-background);
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
.nav-link:hover{
    background-color: gray;
}
/* Style for the main content */
main{
    max-width: 1380px;
    margin: auto;
    padding: 5px;
    background-color: var(--color-secondary-background);
    color: var(--color-text);
}
main hr{
    border: 1px solid var(--color-background);
    margin-top: 10px;
}
img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    background-color: black;
}
.page-description{
    font-size: 1.2em;
    text-align: center;
}
.section-title{
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
}
.section-description{
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}
.game-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game-card{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: var(--color-card-background);
    display: inline-block;
    flex: 1 1 300px;
    max-width: 300px;
    max-height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.game-card:hover{
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.5);
}
.game-title{
    font-size: 1.2em;
    font-weight: bold;
}
.game-description{
    font-size: 1em;
    margin-top: 10px;
    height: 50px;
}
.game-genre, .game-platform{
    font-size: 0.9em;
    color: lightgray;
}
.game-card a{
    color:  #00ff80;
}
